<ion-header>
  <ion-toolbar>
    <ion-title>
      Kiss and This
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Personaje sobre el fondo -->
  <img 
    *ngIf="mostrarWaifu"
    src="assets/img/sayuri.png"
    class="waifu"
  />

  <div class="contenedor">

    <div class="dialogo">
      <h2>{{ personaje }}</h2>
      <p>{{ texto }}</p>
    </div>

    <div class="opciones">
      <ion-button (click)="siguiente()">Siguiente</ion-button>
      <ion-button (click)="ignorar()">Ignorar</ion-button>
    </div>

  </div>

</ion-content>